@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100vw;
  z-index: 100;
  padding: 1rem 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header nav h1 {
  padding-top: 5px;
}

header nav .theme {
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 5px 8px;
  border: none;
  border-radius: 25px;
}

header nav .theme p {
  font-size: 12px;
}

.data {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .1s;
  transition: .1s;
}

.data .data-angka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data .data-angka div {
  text-align: center;
  margin-left: 10px;
  background-color: #292d3e;
  padding: 1rem 0;
  border: none;
  border-radius: .25rem;
  min-width: 200px;
  cursor: default;
}

.data .data-angka div h3 {
  font-size: 2rem;
}

.data .data-angka div p {
  font-size: 4rem;
  padding: 0px 1rem;
  color: white;
}

.data .tanggal-data {
  padding-top: 20px;
}

.data #konfirmasi h3 {
  color: #d6d636;
}

.data #meninggal h3 {
  color: #ca2121;
}

.data #sembuh h3 {
  color: #7fc935;
}

.news-container {
  width: 90vw;
  margin: auto;
}

.news-container h2 {
  text-align: center;
  padding-top: 20px;
}

.news-container .news {
  margin: 20px 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-container .news a {
  text-decoration: none;
  color: inherit;
}

.news-container .news .news-box {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0px 4px 15px 0px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0px 4px 15px 0px rgba(0, 0, 0, 0.23);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 35vw;
  margin: 10px auto;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.news-container .news .news-box:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.news-container .news .news-box .news-image {
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-container .news .news-box .news-image img {
  max-height: 100px;
  max-width: 100px;
  min-height: 100px;
  min-width: 100px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-container .news .news-box .news-content {
  padding: 0 15px;
  background-color: inherit;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #bbbbbb;
  padding: 20px 0;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer .person {
  margin-left: 10vw;
}

footer .sumber {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10vw;
}

footer .sumber .dataCovid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .info-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

footer .info-me p {
  margin-left: 20px;
}

.dark {
  color: white;
}

.dark header {
  background-color: #565656;
}

.dark header .theme {
  background-color: #1a1a1a;
}

.dark .data {
  background-color: #1a1a1a;
}

.dark footer {
  background-color: #565656;
}

@media (max-width: 800px) {
  header #changeThemeTxt {
    display: none;
  }
  header h1 {
    font-size: 1.2rem;
  }
  .data {
    height: auto;
    padding: 2rem 0;
  }
  .news-container .news .news-box {
    max-width: 90vw;
  }
  .news-container .news .news-box .news-image img {
    max-width: 120px;
  }
  .data-angka {
    padding-top: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .data-angka div {
    margin-top: 4px;
  }
}

@media (max-width: 1200px) {
  .news-container .news .news-box {
    max-width: 90vw;
  }
}
/*# sourceMappingURL=style.css.map */